.weatherCardContainer{
    display:flex;
    justify-content: center;
}

.card h1{
    display:flex;
    justify-content: center;
}

.card h2{
    display:flex;
    justify-content: center;
}

.card h3{
    display:flex;
    justify-content: center;
}

.card h4{
    display:flex;
    justify-content: center;
}

.card h5{
    display:flex;
    justify-content: center;
}

.card h6{
    display:flex;
    justify-content: center
}

.img{
    display:flex;
    justify-content: center;
}

.card{
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 15.5px );
    -webkit-backdrop-filter: blur( 15.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width:15%;
    margin:10px;
}
